.box {
  margin: 0;
}

.box {
  background-color: rgb(45, 45, 45);
  height: 100px;
  width: 100px;
  font: bold 2rem cursive;
  color: white;
  margin: 2vmax;

  /* transition-property: background-color;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  transition-timing-function: ease-in;
  transition-timing-function: ease-out;
  transition-timing-function: ease-in-out;
  transition: background-color 1s ease-in 1s, color 1s ease-out 1s;
  transition: all 1s ease-in;
  transition: all 0.5s; */
}
/* .box:hover {
  background-color: tomato;
  color: blue;

  width: 80%;
  box-shadow: 0 0 20px black;
  transform: skewX(30deg) skewY(30deg);
  transform: translate(100px, 100px);
  transform: translate(0, 100px);
  transform: scale(1.2);
  transform: scaleX(1.2);
  transform: scaleY(1.2);
  transform: scale(3, 2);
  transform: rotateX(90deg);
  transform: rotateZ(90deg) scale(2) translate(50%,50%);

} */
#box1 {
  /* animation-name: myanimation;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-iteration-count: 5; */
  /* -o-animation-play-state: ; */
  animation: myanimation 2s linear 1s infinite alternate;
}
@keyframes myanimation {
  /* from {
    background-color: red;
  }
  to {
    background-color: rgb(94, 255, 0);
  } */
  0% {
    background-color: red;
    transform: scale(2);
  }
  50% {
    border-radius: 100%;
    background-color: rgba(76, 0, 255, 0.541);
  }

  100% {
    background-color: rgba(255, 0, 0, 0.013);
    transform: scale(20);
  }
}
