/* p::first-line {
  color: aqua;
} */
* {
  margin: 0;
  padding: 0;
}
/* p::before {
  content: "";
  background-color: aqua;
  width: 100vw;
  height: 100vh;
  display: block;
  position: absolute;
  top: 0%;
  z-index: -1;
  opacity: 0.1;
} */
/* p::after{
    content:"nice after"
} */

/* input {
  border: 1px solid red;
} */
/* input::-webkit-file-upload-button {
  background: black;

  padding: 2rem;
  border: none;
  border-radius: 50px;
  color: white;
  width: 100%;
}
input {
  font: bold 1.5rem "Gill Sans";
  color: red;
}
input::placeholder {
  color: white;
} */

a {
  color: black;
  text-decoration: none;
  margin: 2rem;
  font: bold 1.5 rem "gill sans";
}
a:hover {
  color: #ffc107;
}

a:active {
  color: rgb(113, 251, 0);
}
/* a:first-child{
    color: crimson;
} */

a:first-of-type {
  color: crimson;
  font-size: 3rem;
}
